{
  "TOKEN": "ODg4NzI0ODkzMDUzNjI0MzYw.YUW3jg.sgGB1LZdJR4OSd6ex4XSt6ri3E4",
  "YOUTUBE_API_KEY": "IqSXYDBxNd0TChyaZSH-KGsYLYtsvc5L",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100}
